<!DOCTYPE html>
<html layout:decorate="~{layouts/default}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
<div layout:fragment="content">


    <section class="pb-5 h-250" id="team">
        <div class="container">
            <!--            <h5 class="section-title h1">OUR TEAM</h5>-->
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img alt="card image" class=" img-fluid" src="img/ric.jpg"></p>
                                        <h4 class="card-title">Riccardo Concu</h4>
                                        <p class="card-text">Post doctoral researcher at UPTEC - Parque de Ciência e
                                            Tecnologia da Universidade do Porto</p>
                                        <a class="btn btn-primary btn-sm" href=""><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Riccardo Concu</h4>
                                        <p class="card-text">Experienced Doctoral Researcher with a demonstrated history
                                            of working in both private industry and non-profit organization. Skilled in
                                            Bioinformatics, Protein Chemistry, Cheminformatics, Medicinal Chemistry, and
                                            Nanotechnology, Big Data. Strong research professional with a Doctor of
                                            Philosophy (PhD) focused in Biomathematics, Bioinformatics, and
                                            Computational Biology from Università degli Studi di Cagliari.
                                        </p>
                                        <ul class="list-inline">

                                            <li class="list-inline-item">
                                                <a class=" text-xs-center" href="https://orcid.org/0000-0002-0301-9407"
                                                   target="_blank">
                                                    <i class="fab fa-orcid"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class=" text-xs-center"
                                                   href="https://www.linkedin.com/in/riccardo-concu-8047ba17/"
                                                   target="_blank">
                                                    <i class="fab fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class=" text-xs-center" href="mailto:ric.concu@gmail.com"
                                                   target="_blank">
                                                    <i class="fas fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->

                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img alt="card image" class=" img-fluid" src="img/mar.jpg"></p>
                                        <h4 class="card-title">Martín Pérez</h4>
                                        <p class="card-text">Post doctoral researcher at SING group - Dept. of Computer
                                            Sciences, Universidade de Vigo</p>
                                        <a class="btn btn-primary btn-sm" href=""><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Martín Pérez </h4>
                                        <p class="card-text">Experienced Doctoral Researcher with a demonstrated history
                                            of working in international and national proyects. Skilled in
                                            Bioinformatics, Natural language processing, Machine learning, Big Data and
                                            health informatics. Strong research professional with a Doctor of Philosophy
                                            (PhD) focused in Intelligence systems, Bioinformatics, and development of
                                            computational platforms focused on medicine and biology from university of
                                            Vigo.
                                        </p>

                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="https://orcid.org/0000-0003-1349-6562"
                                               target="_blank">
                                                <i class="fab fa-orcid"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="https://www.linkedin.com/in/martin-p-p/"
                                               target="_blank">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="mailto:mpperez3@esei.uvigo.es"
                                               target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img alt="card image" class=" img-fluid" src="img/nc.jpg"></p>
                                        <h4 class="card-title">Maria Natália Cordeiro</h4>
                                        <p class="card-text">Associate Professor - Dept. of Chemistry and Biochemistry,
                                            Universidade do Porto</p>
                                        <a class="btn btn-primary btn-sm" href=""><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Maria Natália Cordeiro</h4>
                                        <p class="card-text">Maria Natália Cordeiro graduated in Chemistry at the
                                            Faculty of Sciences, University of Porto (Portugal), and completed a Ph.D.
                                            on Monte Carlo simulations of aqueous ionic solutions with Professor
                                            J.A.N.F. Gomes. She won several fellowships in Quantum Reaction Dynamics and
                                            Quantum Theory of Atoms in Molecules (Universities of Santiago de
                                            Compostela/Vigo, Spain), and in Kinetics Monte Carlo (Technical University
                                            of Munich, Germany). Maria Natália Cordeiro became an Associate Professor in
                                            Theoretical Chemistry at the University of Porto in 2003. She is also the
                                            Head of the Chemistry Material Modelling Research Group <a
                                                    href="https://laqv.requimte.pt" target="_blank">LAQV@REQUIMTE)</a>
                                        </p>

                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="https://orcid.org/0000-0003-3375-8670"
                                               target="_blank">
                                                <i class="fab fa-orcid"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class=" text-xs-center"
                                               href="https://www.linkedin.com/in/natalia-cordeiro-74b43022/"
                                               target="_blank">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="mailto:ncordeir@fc.up.pt"
                                               target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img alt="card image" class=" img-fluid" src="img/riverola.png"></p>
                                        <h4 class="card-title">Florentino Fdez-Riverola</h4>
                                        <p class="card-text">Full Professor - Dept. of Computer Sciences,
                                            Universidade de Vigo</p>

                                        <a class="btn btn-primary btn-sm" href=""><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Florentino Fdez-Riverola</h4>
                                        <p class="card-text">Dr. Fernández Riverola, Florentino is currently working as
                                            a full Professor in the Department of Computer science, University of Vigo ,
                                            spain. Professor Fdez-Riverola holds a Technical Engineering Degree in
                                            Computer Management by the University of Vigo, Spain (1994) and a
                                            Engineering Degree in Computer Science by the University of Oviedo, Spain
                                            (1999). Founding member (2001) and actual Coordinator of (<a
                                                    href="http://sing-group.org/" target="_blank">the SING research
                                                group/</a>), he obtained his Ph.D. in Computer Science by the University
                                            of Vigo (2002), being honoured with the Extraordinary Doctoral Thesis prize.


                                        </p>

                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="https://orcid.org/0000-0002-3943-8013"
                                               target="_blank">
                                                <i class="fab fa-orcid"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="http://www.sing-group.org/riverola/"
                                               target="_blank">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class=" text-xs-center" href="mailto:riverola@uvigo.es"
                                               target="_blank">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>

        </div>

    </section>
    <div class="clearfix"></div>


</div>
</body>
</html>